.form-wrapper {
    display: flex;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    background-color: darkseagreen;
}

.form label {
    padding: 10px 0;
}

.error-style {
    height: 15px;
    color: crimson;
    margin: 5px 0 20px;
}

.message-done {
    height: 15px;
    color: darkgreen;
    text-align: center;
    margin: 10px 0 0;
}
