.search-block {
    height: 30px;
}

.search {
    display: inline-block;
    height: 80%;
    margin-right: 8px;
    border-radius: 5px;
}

.search-btn {
    display: inline-block;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

.search-btn:hover {
    background: gray;
}
